.cats__wrap {
}

.cats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 47px;
  padding: 0 62px;
}

@media screen and (min-width: 893px) {
  .cats {
    justify-content: space-between;
  }
}

.cats__buttonsWrap {
  width: 100%;
  min-height: 64px;
  margin-bottom: 51px;
  padding: 0 62px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
}

.cats__buttons {
  display: flex;
  flex-wrap: wrap;
  min-width: 280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .cats__buttons {
    max-width: 1316px;
  }
}

.cats__button {
  height: 100%;
  padding: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cats__buttonActive {
  color: #ffffff;
  background-color: #1e88e5;
}

.cats__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
}
